@import '_variables';

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__two-cols {
        display: flex;
        flex-direction: row;

        .about__person-img {
            img {
                width: 100%;
            }
        }
    }
}