@import '_variables';

.education {
    display: flex;
    flex-direction: column;

    &__title {
        text-align: center;
        font-size: 2rem;
        margin: 25px;
    }

    &__info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }

    &__degree {
        flex: 1 0 44%;
        background-color: $main-color;
        padding: 1.5rem;
        margin: 2rem;

        @media (max-width: $width-medium) {
            flex: 1 0 80%;
            margin: 1rem 2rem;
        }

        h3 {
            margin: 10px 0 10px 0;
        }

        h5 {
            margin: 5px 0 5px 0;
        }
    }
}