@import '_variables';

.portfolio {
    display: flex;
    flex-direction: column;

    @media (max-width: $width-medium) {
        padding: 0 4rem;
    }

    &__title {
        text-align: center;
        font-size: 2rem;
        margin: 25px;
    }

    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        @media(max-width: $width-medium) {
            display: flex;
            flex-direction: column;
        }
    }

    &__card {

        img {
            width: 100%;
            padding: 0.5rem;
        }
    }

    &__card-title {
        padding: 0.5rem;
    }

}