*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    font-family: 'Arial', sans-serif;
    color: black;
}

/*------------
HEADER
------------*/
header{
    display: flex;
    justify-content: center;
    background-color: #ffd700;
}

.container{
    margin: 1rem 0;
    width: 1172px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container nav ul {
    display: flex;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

header nav ul li {
    margin: 1em;
}

@media(max-width:420px){
    .container{
        font-size: 12px;
        text-align: center;
        padding: 10px auto;
        width: 420px;        
    }
     .container nav ul{
        justify-content: space-around;
    }
    h1{
        font-size: 20px;
        margin-bottom: 10px;
    }
}

@media(max-width:1024px){
    .container{
        text-align: center;
        padding: 5px;
        width: 700px;
           
        flex-direction: column;
    }
      .container nav ul{
        justify-content: space-around;
    }
    h1{
        font-size: 20px;
        margin-bottom: 10px;
    }
}


/*------------
ABOUT ME
------------*/
#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

#about a {
    color: black;
}

.person-img img {
    max-width: 100%;
    width: 500px;
}

.title {
    text-align: center;
    font-size: 35px;
    margin: 25px;
    border: 10px solid #ffd700;
    background-color: #ffd700;
}

#two-cols{
    margin: 1rem 0;
    width: 1172px;
    display: flex;
    flex-direction: row;
}

.person-detail{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.person-detail h1{
    margin-bottom: 15px;
    margin-top: 0;
}

.person-detail p{
    margin-bottom: 15px;
}

.person-information{
    padding: 15px 0 25px 0;
}

.person-information ul{
    display: inline-block;
}

.person-information ul li{
   list-style: none;
}

.person-information ul li a{
    text-decoration: none;  
}

.person-information ul + ul{
    padding-left: 55px;
}

 @media(max-width:420px){
     .about-me{
         flex-direction: column;
     }
     .title{
         font-size: 25px;
         margin: 15px;
     }
     #two-cols{
         flex-direction: column;
         align-items: center;
     }
     .person-img img{
         max-width: 100%;
         width: 250px;
     }
     .person-detail{
         margin-top: 20px;
         font-size: 15px;
         padding: 0; 
     }
}

@media(max-width:1024px){
     .title{
         font-size: 25px;
         margin: 15px;
     }
     #two-cols{
        text-align: left;
         justify-content: center;
      
     }
     .person-img img{
         max-width: 75%;
         width: 250px;
     }
     .person-detail{
         font-size: 15px;
         padding: 0 50px;
       
     }
     
}

/*------------
FOOTER
------------*/
footer a {
    color: #ffd700;
}

footer {
    background-color: black;
    color: #ffd700;
    display: flex;
    justify-content: center;
}

.vertical {
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

footer ul {
    list-style: none;
    font-size: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem
}

footer ul a {
    display: flex;
    flex-direction: row;
    margin: 20px;
    cursor: pointer;
}

footer p {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

@media(max-width:420px){
    footer ul{
        font-size: 20px;
        margin: 0;
        padding: 0;
    }
    footer p{
        font-size: 15px;
        margin-bottom: 5px;
    } 
}





